<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head') %>

<link rel="stylesheet" href="/css/styles.css">

<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <article>
            
                <div class="breakpoint">
                    <div class="centrar-producto">
                        <img src="/images/products/<%= products.imgIndex %>" class= "zoom" alt="Celular frente">
                     </div>
                    <!-- <div class="centrar-producto">
                         <img src="/images/products/<%= products.img2 %>"  class= "zoom" alt="Celular costado">
                         <img src="/images/products/<%= products.img3%>" class= "zoom" alt="Celular atras">
                    </div> -->
                <div>
                    <img src="/images/products/Hotsale.png" class="hotsale">
                </div>
                    <div class="main-article-producto">
                        <h3>Precio: USD <%= products.precioVenta %></h3>
                        <ul>
                        <li>Empresa:Liberado </li>
                        <li>En Stock</li>
                        <li>Condición:<%= products.estadoEquipo %></li>
                        <p>Luce y funciona como nuevo. No tiene detalles de uso. Ni marcas en los bordes, ni en la pantalla, ni en la parte de atrás.</p>
                        <li>Color: <%= products.color %></li>
                       
                    </div>
                </div>
                <div class="precio-DP">
                        <p>Precio en un pago</p>
                        <h3> USD <%= products.precioVenta %></h3>
                        <p>6 cuotas de <%= products.precioVenta /6 %> USD sin interés</p>  
                    </div>
                

                    <div class="centrar-buttons">
                        <form action="/Detalle_de_producto"  style="display:inline">
                            <button class= carrito-producto type="submit">Agregar al carrito <i class="fa-solid fa-cart-plus"></i></button>
                        </form>
                        <form action="/Detalle_de_producto"  style="display:inline">
                            <button class= comprar-button-producto type="submit">Comprar </button>
                        </form>
                        <form action="/products/editar/<%=products.id %>"  style="display:inline">
                       <button class= comprar-button-producto type="submit">Editar </button></a>  
                        </form>
                         <form action="/products/<%=products.id %>?_method=DELETE" method="POST" style="display:inline">
                        <button class= comprar-button-producto type="submit">Eliminar </button>
                        </form>
                    </div>
                
                <div class="iconos-producto">
                    <i class="fa-solid fa-truck"></i>
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="detalles-producto">
                    <p>Envío gratis a todo el país</p>
                    <p>90 días de garantía</p>
                </div>

                <div class="caracteristicas-producto">
                    <h3 class="margin-caracteristicas">Descripción</h3>
                    <p> <%= products.descripcion %></p>
                </div>
                <div class="lista-caracteristicas-producto">
                    <p><i class="fa-solid fa-camera-retro"></i>Cámara principal:15 Mpx</p>
                    <p><i class="fa-solid fa-maximize"></i>Dimensiones Perfil: 7.7 mm</p>
                    <p><i class="fa-solid fa-sim-card"></i>Dual SIM: <%= products.dualSim %></p>
                
                </div>
                <div class="lista-caracteristicas-producto" >
                        <p><i class="fa-solid fa-microchip"></i>Memoria RAM: <%= products.memoriaRam %>GB</p>
                        <p><i class="fa-solid fa-satellite-dish"></i>Señal:<%= products.senal %>G</p>
                        <p ><i class="fa-solid fa-server"></i>Memoria Interna:<%= products.memoriaInterna %>GB</p>
                </div>
              </article>
             
        </section> 
    </main>

    <%- include('./partials/footer') %>
</body>

</html>