<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
<body>

    <nav>
            
        <div class="marcas-elegibles">
            <article>
                <a href="#samsung"> <img src="./images/motorola-mini.png" width="125" height="30"></a>
            </article>
            <article>
                <a href="#motorola"><img src="./images/samsung-mini.png" width="125" height="30"></a>
            </article>
            <article>
                <a href="#apple"><img src="./images/iphone-mini.png" width="125" height="30"></a>
                </article>
            <article>
                <a href="#xiaomi"><img src="./images/tesla-mini.png" width="125" height="30"></a>
                </article>
            <article>
                <a href="#huawei"><img src="./images/huawei-mini.png" width="125" height="30"></a>
            </article>
        </div>
    </nav>

    <nav>
    <article>
        <div class="container">
            <img src="./images/apple-banner.jpg">
        </div> 
    </article>
     </nav>
    <main>
   

        <div class="modelos-premium">
            
                <h3>NUESTROS PREMIUM</h3>
                <% for (let i=0; i<=4; i++){  %>
                    <article>
                        <div class="product" id="product">
                     <a href="/detalle/<%= products[i].id %>" >
                
                        <img src= "../images/products/<%= products[i].imgIndex %>" width="200" height="200" />
                     </a>
                     <h4><%= products[i].nombreProducto %> </h4>
                     <p> <%= products[i].precioVenta %> USD </p>
                
                        </div>
                    </article>
                <% } %>
    
                
            <!-- <article>
                <div class="product" id="product_1">
                   <a href="detalle/1">
                        <img src="./images/products/iphone-frente2.png" width="200" height="200"/>
                   </a>
                    <h4>Premium N° 1</h4>
                    <p>600 USD</p>
                </div>
            </article> -->
            <!-- <article>
                <div class="product" id="product_2">
                    <a href="detalle/2">
                    <img src="./images/products/SamsungS22Negro.png" width="200" height="200" />
                    </a>
                    <h4>Premium N° 2</h4>
                    <p>900 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_3">
                    <img src="./images/products/Samsung-S22blanco.jpg" width="200" height="200" />
                    <h4>Premium N° 3</h4>
                    <p>820 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_4">
                    <a href="detalle/3">
                    <img src="./images/products/tesla-usado.png" width="200" height="200" />
                    </a>
                    <h4>Premium N° 4</h4>
                    <p>1.050 USD</p>
                </div>
            </article>   
        </div> -->

        <div class="mas-vendidos">
            <h3> MAS VENDIDOS</h3>
            <article>
                <div class="product" id="product_1">
                    <a href="/detalle/1">
                    <img src="./images/products/iphone-frente2.png" width="200" height="200" />
                    </a>
                    <h4>Vendido N° 1</h4>
                    <p>500 USD</p>
                </div>
            </article>
           
            <article>
                <div class="product" id="product_5">
                    <a href="/detalle/5">
                    <img src="./images/products/Samsung-S22rosa.png" width="200" height="200" />
                    </a>
                    <h4>Vendido N° 2</h4>
                    <p>780 USD</p>
                </div>
            </article>
        </div>
    
    </main>

<%- include('./partials/footer') %>

</body>
</html>