<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
<body>

    <nav>
            
        <div class="marcas-elegibles">
            <article>
                <a href="#samsung"> <img src="./images/motorola-mini.png" width="125" height="30"></a>
            </article>
            <article>
                <a href="#motorola"><img src="./images/samsung-mini.png" width="125" height="30"></a>
            </article>
            <article>
                <a href="#apple"><img src="./images/iphone-mini.png" width="125" height="30"></a>
                </article>
            <article>
                <a href="#xiaomi"><img src="./images/tesla-mini.png" width="125" height="30"></a>
                </article>
            <article>
                <a href="#huawei"><img src="./images/huawei-mini.png" width="125" height="30"></a>
            </article>
        </div>
    </nav>

    <nav>
    <article>
        <div class="container">
            <img src="./images/apple-banner.jpg">
        </div> 
    </article>
     </nav>
    <main>
   

        <div class="modelos-premium">
            
                <h3>NUESTROS PREMIUM</h3>
                <% for (let i=0; i<  5; i++) { %>
                    <article>
                        <div class="product" id="product">
                            <h2><%= marca[i].id %></h2>                
                     <a href="/products/detalle/<%= products[i].id %>">
                        
                        <img src= "../images/products/<%= products[i].imgIndex %>" width="200" height="200" />
                     </a>
                     <h4><%= products[i].nombreProducto %> </h4>
                     <p> <%= products[i].precioVenta %> USD </p>
                
                        </div>
                    </article>
                <% } %>
    

        <div class="mas-vendidos">
            <h3> ÚLTIMOS INGRESOS</h3>
             <% for (let i=0; i< 5; i++) { %>
            <article>
                <div class="product" id="product">
                    <h2><%= marca[[i]].nombre %></h2>        
                    <a href="/products/detalle/<%= products[i].id %>">
                    <img src="../images/products/<%= products[i].imgIndex %>" width="200" height="200" />
                    </a>
                    <h4><%= products[i].nombreProducto %> </h4>
                    <p> <%= products[i].precioVenta %> USD </p>
                </div>
              
            </article>
             <% } %>
            <!-- <article>
                <div class="product" id="product_5">
                    <a href="/products/detalle/5">
                    <img src="./images/products/Samsung-S22rosa.png" width="200" height="200" />
                    </a>
                    <h4>Vendido N° 2</h4>
                    <p>780 USD</p>
                </div>
            </article>
        </div>
    
    </main> -->

<%- include('./partials/footer') %>

</body>
</html>