<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->

<main>
	 <div class="modelos-premium">
		
		
			<h3>Todos los productos</h3>
		
			<% for (let i=0; i<inventario.length; i++) { %>
			<article>
			<div class="product" id="product">
				<a href="/products/detalle/<%= inventario[i].id %>">
							<img src="../images/products/<%= inventario[i].imgIndex %>" width="200" height="200" alt="imagen de producto">
				</a>
								<h2>$<%= inventario[i].precioVenta %></h2>
								<span><%= inventario[i].descuento %> % OFF</span>
								<p><%= inventario[i].nombreProducto %></p>
							</div>	
							</article>
						
						
			
			
	
		
		    <% } %>
		</div>
	
	<!-- /todos los productos -->
</main>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>