<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->

<main>
	 <div class="modelos-premium">
		
		
			<h3>Todos los productos</h3>
		
			<% for (let i=0; i< productos.length; i++) { %>
			<article>
			<div class="product" id="product">
				<a href="/products/detalle/<%= productos[i].id %>">
							 <img src="../images/products/<%= productos[i].imgIndex %>" width="200" height="200" alt="imagen de producto">
				</a>
								<h2>$<%= productos[i].precioVenta %></h2>
								<span><%= productos[i].nombreProducto %></span>
									<p><%= productos[i].categoy %></p>
							</div>	
							</article>
						
						
			
			<!-- <% for( let i = 0; i < productos.length; i++ ) { %>
		<li>
			<a href="/products/<%= productos[i].marca %>"><%= productos[i].nombreProducto %></a>
		</li>
		<% } %> -->
	
		
		    <% } %>
		</div>
	
	<!-- /todos los productos -->
</main>
	<!-- footer -->
	<%- include('partials/footer') %>
	
	<!-- /footer -->
</body>	
</html>