<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->

<main>
	 <div class="modelos-premium">
		
		
			<h3>Todos los productos</h3>
		
			<% for (let i=0; i< products.length; i++) { %>
			<article>
			<div class="product" id="product">
				<a href="/products/detalle/<%= products[i].id %>">
							 <img src="../images/products/<%= products[i].imgIndex %>" width="200" height="200" alt="imagen de producto">
				</a>
								<h2> <%= products[i].precioVenta %></h2>
								<span><%= products[i].nombreProducto %></span>
									<p><%= products[i].category %></p>
							</div>	
							</article>
						
						
			

		
		    <% } %>
		</div>
	
	<!-- /todos los productos -->
</main>
	<!-- footer -->
	<%- include('partials/footer') %>
	
	<!-- /footer -->
</body>	
</html>