<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="modelos-premium">
		<div>
			<div>
				<h2>Todos los productos</h2>
			</div>
		    <% for (const articulo of products) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= articulo.id %>">
						<figure class="product-box_image">
							<img src="/images/products/<%= articulo.img %>" alt="imagen de producto">
						</figure>
						<article class="product-box_data">
							<h2>$<%= articulo.precioVenta %></h2>
							<span><%= articulo.descuento %> % OFF</span>
							<p><%= articulo.nombreProducto %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
		    <% } %>
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>