<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="css/styles_login_register.css">
  <%- include('./partials/head') %>
  <%- include('./partials/header') %>
    <main>
        <div class="caja-page-principal">
        <!-- <% if (locals.errors) { %>
        <% for ( let oneError in errors) { %> 
        <p><%= errors[oneError].msg %> </p>  
        <% } %>
        <% } %> -->
        <form class="page-forms" method = "POST" action="/register" enctype="multipart/form-data">
          <h4 class="mainTitle-page">¡Crea tu cuenta!</h4>
          <div class="div-forms-principal">
            <div class="div-forms">
              <label class="label-forms" for="nombre">Nombre</label>
              <input class="input-forms" type="text" name="nombre" value="<%= locals.old && old.nombre %>">
                            <%if (locals.errors && errors.nombre) { %>
               <p style="color:white ; font-weight: 1;"> <%= errors.nombre.msg %></p>
                <% } %>
            </div>
            <div class="div-forms">
              <label class="label-forms" for="apellido">Apellido</label>
              <input class="input-forms" type="text" name="apellido" value="<%= locals.old && old.apellido %>">
              
              <%if (locals.errors && errors.apellido) { %>
                <p style="color:white ; font-weight: 1;"> <%= errors.apellido.msg %></p>
                <% } %>
            </div>
            <div class="div-forms">
              <label class="label-forms" for="email">Email</label>
              <input class="input-forms" type="email" name="email" value="<%= locals.old && old.email %>">
             
              <%if (locals.errors && errors.email) { %>
                <p style="color:white ; font-weight: 1;"><%= errors.email.msg %></p>
                <% } %>
            </div>
            <div class="div-forms">
              <label class="label-forms" for="password"
                >Ingresa una contraseña</label
              >
              <input class="input-forms" type="password" name="password" />
              <%if (locals.errors && errors.password) { %>
                <p style="color:white ; font-weight: 1;"> <%= errors.password.msg %></p>
                <% } %>
            </div>
            <!-- <div class="div-forms">
              <label class="label-forms" for="password2"
                >Repite tu contraseña</label
              >
              <input class="input-forms" type="password" name="password2" />
            </div> -->
          </div>
          </button>
          <div class="div-forms">
          <label class="label-forms" for="imagendePerfil">Ingresá tu imagen de Perfil</label>
          <input class="input-forms" type="file" name="imagendePerfil" id="imagendePerfil" />
        </div>
        <div class="div-terminos-condiciones">
          <input type= "checkbox" name = "vendedor?">
          <label class="checkbox" for="vendedor?">¡También quiero vender! </label>
          </div>
          <br>
          <div class="div-terminos-condiciones">
          <input type= "checkbox" name = "terminos">
          <label class="checkbox" for="terminos"> Acepto los términos y condiciones. </label>
          
          </div>
          <button class="button-forms-register" type="submit">
            Crear cuenta
          </button>
          <a class= "link-login-register" href= "login">  ¿Ya tienes cuenta? </a>
        </form>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
