<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de pelis'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->

<main>
	 <div class="modelos-premium">
		
		
			<h3>Todos los Usuarios</h3>
		
			<% for (let i=0; i< users.length; i++) { %>
			<article>
			<div class="product" id="product">
				<a href="/users/detalle/<%= users[i].id %>">
							 
				</a>
								<h2> <%= users[i].firstName %></h2>
								<img src="../../../../images/users/<%= users[i].imagenPerfil %>" width="200" height="200" alt="imagen de perfil">
									<p><%= users[i].email %></p>
							</div>	
							</article>
						
		    <% } %>
		</div>
	
	<!-- /todos los productos -->
</main>
	<!-- footer -->
	<%- include('partials/footer') %>
	
	<!-- /footer -->
</body>	
</html>